.logo {
    animation: animation1 60s infinite ease-in-out;
}
.buttonPrimary {
    animation: animation2 5s infinite ease-in-out;
}
.translate {
    animation: animation3 5s infinite ease-in-out;
}

@keyframes animation1 {

    4% {
        transform: translateY(0px);
    }

    5% {
        transform: rotate(0deg);
    }

    6% {
        transform: rotate(10deg);
    }

    7% {
        transform: rotate(-15deg);
    }

    8% {
        transform: rotate(15deg);
    }

    9% {
        transform: rotate(-10deg);
    }

    10% {
        transform: rotate(0deg);
    }
}


@keyframes animation2 {
    0% {
      background-color: #FFF500;
    }
    20% {
      background-color: #fff82f;
    }
    
    50% {
      background-color: #fff82f;
    }
  
    100% {
      background-color: #FFF500;
    }
  }

  @keyframes animation3 {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(0);
    }
    
    50% {
      transform: translateY(-5px);
    }
  
    100% {
      transform: translateY(0);
    }
  }